.container--admin-nav {
  display: flex;
  justify-content: space-between;
}

.admin-nav {
  padding: .5rem 0;
  background-color: #000;
  color: #FFF;
}

.admin-nav--left {
  align-self: stretch;
  flex: 1;
}

.admin-nav--right {
  align-self: flex-end;
  flex: 1;
  text-align: right;
}

.admin-nav__item {
  color: #FFF;
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }
}

.admin-nav__item--greeting {

}