.form-row {
  margin: 0 0 2rem;
}

input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  border: 1px solid #333;
  color: #333;
  margin: 0 0 20px;
  padding: 1em;
  // border-bottom: 1px solid #000;
}

input[type=submit] { 
  padding: .5rem 1rem;
  background: #F00;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: .04em;
  display: block;
  margin: 20px 0;
}

.form-container {
  max-width: 500px;
}